<div *ngFor="let item of todos; trackBy: trackID">
    <mat-checkbox [class.status]="item.done" [ngModel]="item.done" (click)="swapStatus(item.id)">{{item.name}}</mat-checkbox>
    <!-- <span [class.status]="item.done" (click)="swapStatus(item.id)">{{item.name}}</span> &nbsp;&nbsp;&nbsp;&nbsp; -->
    <!-- <a href="#" (click)="remove($event,item.id) ">x</a> -->
    <mat-icon (click)="remove($event,item.id)">delete_outline</mat-icon>
</div>



<div cdkDropListGroup>
    <div class="example-container">
        <h2>To do</h2>
        <p [ngModel]>{{todos.length}}</p>

        <div cdkDropList [cdkDropListData]="todos" class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of todos" cdkDrag>
                <mat-checkbox [class.status]="item.done" [ngModel]="item.done" (click)="swapStatus(item.id)">{{item.name}}</mat-checkbox>
                <!-- <span [class.status]="item.done" (click)="swapStatus(item.id)">{{item.name}}</span> &nbsp;&nbsp;&nbsp;&nbsp; -->
                <!-- <a href="#" (click)="remove($event,item.id) ">x</a> -->
                <mat-icon (click)="remove($event,item.id)">delete_outline</mat-icon>
            </div>
        </div>
    </div>

    <div class="example-container">
        <h2>Done</h2>
        <p [ngModel]>{{done.length}}</p>
        <div cdkDropList [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of done" cdkDrag>
                <mat-checkbox [class.status]="item.done" [ngModel]="item.done" (click)="swapStatus(item.id)">{{item.name}}</mat-checkbox>
            </div>
        </div>
    </div>
</div>