<div class="todos">
    <div class="content">
        <app-todo-header (add)="addnew($event)"></app-todo-header>
        <div class="list">
            <div class="colwidth">
                <app-todo-list [todos]="todos" (del)="remove($event)" (swap)="updateStatus($event)"></app-todo-list>
            </div>
        </div>
    </div>
</div>
<div class="padding-bot"></div>

<!-- <div class="todos">
    <div class="content">
        <mat-tab-group mat-align-tabs="center" class="remove-border-bottom size">
            <mat-tab label="List">
                <div class="list">
                    <div class="colwidth">
                        <app-todo-list [todos]="todos" (del)="remove($event)" (swap)="updateStatus($event)">
                        </app-todo-list>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Add">
                <app-todo-header (add)="addnew($event)"></app-todo-header>
            </mat-tab>
        </mat-tab-group>
    </div>
</div> -->