.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.colwidth {
    width: 50%;
}

.remove-border-bottom ::ng-deep .mat-tab-header {
    border-bottom: none;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.size ::ng-deep .mat-tab-label-content {
    font-size: 16px;
}

.padding-bot {
    padding-bottom: 10%;
}