<table cellpadding="10" align="center" border="1">
    <tr>
        <td>City: </td>
        <td>{{city}}</td>
    </tr>
    <tr>
        <td>Country: </td>
        <td>{{country}}</td>
    </tr>
    <tr>
        <td>Temperature: </td>
        <td>{{temp}} ℃</td>
    </tr>
    <tr>
        <td>Feels_like: </td>
        <td>{{feels_like}} ℃</td>
    </tr>
    <tr>
        <td>Humidity: </td>
        <td>{{humidity}}</td>
    </tr>
    <tr>
        <td>Weather: </td>
        <td>{{weather}}</td>
    </tr>
    <tr>
        <td>Wind speed: </td>
        <td>{{speed}}</td>
    </tr>
    <tr>
        <td>Wind Deg: </td>
        <td>{{deg}}</td>
    </tr>

</table>