<nz-table #basicTable [nzData]="listOfData" [nzFrontPagination]="false" [nzTotal]="total" [(nzPageIndex)]="curPage" [nzPageSize]="pageSize" (nzPageIndexChange)="fetchData()">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data; let i = index; trackBy:trackById">
            <td>{{ i+1 }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.age }}</td>
            <td>{{ data.gender }}</td>
            <td>{{ data.address }}</td>
            <td>
                <a (click)="edit(data.id)">Edit</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a (click)="confirm(data.id)">Delete</a>
            </td>
        </tr>
    </tbody>
</nz-table>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Edit info" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
        <form nz-form [formGroup]="validateForm">
            <!-- <ng-container> -->
            <!-- name -->
            <nz-form-item>
                <nz-form-label [nzSpan]="7" nzRequired>Name</nz-form-label>
                <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
                    <input nz-input formControlName="name" placeholder="async validate try to write" />
                    <ng-template #userErrorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">Please input your name</ng-container>
                        <ng-container *ngIf="control.hasError('duplicated')">Name is invalid</ng-container>
                        <ng-container *ngIf="control.hasError('minlength')">Minimun length is 2</ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <!-- age -->
            <nz-form-item>
                <nz-form-label [nzSpan]="7" nzRequired>Age</nz-form-label>
                <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." nzErrorTip="Must be 1 or 2 number">
                    <input nz-input formControlName="age" placeholder="Please input your age" />
                </nz-form-control>
            </nz-form-item>
            <!-- gender -->
            <nz-form-item>
                <nz-form-label [nzSpan]="7" nzRequired>Gender</nz-form-label>
                <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." nzErrorTip="Gender is required">
                    <nz-radio-group formControlName="gender">
                        <label nz-radio nzValue="female">Female</label>
                        <label nz-radio nzValue="male">Male</label>
                        <label nz-radio nzValue="other">Other</label>
                    </nz-radio-group>
                </nz-form-control>
            </nz-form-item>
            <!-- address -->
            <nz-form-item>
                <nz-form-label [nzSpan]="7">Address</nz-form-label>
                <nz-form-control [nzSpan]="12" nzErrorTip="Please write something here!">
                    <textarea formControlName="address" nz-input rows="2" placeholder="write any thing"></textarea>
                </nz-form-control>
            </nz-form-item>
            <!-- </ng-container> -->
        </form>
    </ng-container>

</nz-modal>