<div cdkDropListGroup>
    <div class="example-container">
        <h3 class="center">To do: {{notdone.length}} </h3>
        <!-- <p class="center" [ngModel]>You have {{notdone.length}} tasks to do!</p> -->

        <div cdkDropList [cdkDropListData]="notdone" class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of notdone" cdkDrag>{{item.name}}, {{item.done}}
                <mat-icon class="pointer" (click)="remove($event,item.id)">delete_outline</mat-icon>
            </div>
        </div>
    </div>

    <div class="example-container">
        <h3 class="center">Done: {{havedone.length}}</h3>
        <!-- <p class="center" [ngModel]>You have completed {{havedone.length}} tasks.</p> -->
        <div cdkDropList [cdkDropListData]="havedone" class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of havedone" cdkDrag>
                <!-- {{item.name}}, {{item.done}} -->
                <div [class.status]="item.done">{{item.name}}, {{item.done}}</div>
                <mat-icon class="pointer" (click)="remove($event,item.id)">delete_outline</mat-icon>
            </div>
        </div>
    </div>
</div>