<nz-layout class="home-wrapper">
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
        <div class="logo">
            LOGO
        </div>
        <ul nz-menu nzTheme="dark" nzMode="inline">
            <li nz-submenu nzTitle="Employee" nzIcon="user">
                <ul>
                    <li nz-menu-item routerLink="/home/employees">List</li>
                    <li nz-menu-item routerLink="/home/employees/add">Add</li>
                    <!-- <li nz-menu-item>Alex</li> -->
                </ul>
            </li>
            <li nz-submenu nzTitle="Weather" nzIcon="team">
                <ul>
                    <li nz-menu-item routerLink="/home/weather">Info</li>
                    <!-- <li nz-menu-item></li> -->
                </ul>
            </li>
            <!-- <li nz-menu-item>
                <i nz-icon nzType="cloud"></i>
                <span routerLink="/home/weather">Weather</span>
            </li> -->
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>
            <div nz-row nzJustify="space-between">
                <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="isCollapsed = !isCollapsed">
                </i>
                <div nzJustify="space-between">
                    <nz-avatar class="top" nzIcon="user" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
                    <a href="#" nz-popconfirm nzPopconfirmTitle="Would you like yo logout?" (nzOnConfirm)="logout()" class="logout"><i nz-icon nzType="logout" nzTheme="outline"></i>&nbsp;&nbsp;Logout</a>

                </div>
            </div>
        </nz-header>
        <nz-content>
            <nz-breadcrumb>
                &nbsp;
                <!-- <nz-breadcrumb-item>Employee List</nz-breadcrumb-item>
                <nz-breadcrumb-item>Employee Add</nz-breadcrumb-item> -->
            </nz-breadcrumb>
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
        <nz-footer>Ellen 2021</nz-footer>
    </nz-layout>
</nz-layout>